<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div>

                <h1 class="text-center mt-3">URL shortener</h1>
                <div class="mx-auto" style="width:120px;">
                    <img class="w-100 mt-3"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2dK8ftMKOes2H83-sHAjhQexHY5AJg91y5A&usqp=CAU"
                        alt="">
                </div>
                <h3 class="mt-3">Success!!please use this link:</h3>
                <a href="{{newShorten}}">{{newShorten}}</a>

            </div>

        </div>
    </div>
</div>